<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSurvey/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{settings.ff.type} == 0 || {settings.ff.type} == 1">
        <f:then>
            <v:variable.set name="counter" value="{count}" />
        </f:then>
        <f:else>
            <v:variable.set name="counter" value="{settings.ff.number}" />
        </f:else>
    </f:if>

    <div class="dwi_petition-box">
        <i class="icon {settings.ff.icon}"></i>

        <div class="dwi_petition-counter" id="dwi_petition-counter_{cObjectData.uid}" data-count="{counter}"></div>
        <p class="dwi_petition-box__unit">{settings.ff.unit}</p>
        <p class="dwi_petition-box__subtitle">{settings.ff.subtitle}
            <f:if condition="{settings.ff.type} == 1">
                {value}
            </f:if>
        </p>
    </div>
</f:section>
</html>