<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSurvey/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{settings.ff.type} == 0 || {settings.ff.type} == 1">
        <f:then>
            <v:variable.set name="counter" value="{count}" />
        </f:then>
        <f:else>
            <v:variable.set name="counter" value="{settings.ff.number}" />
        </f:else>
    </f:if>

    <div class="dwi_petition-box" style="text-align: center;background-color: #f5f5f5;padding: 50px 10px;border:0;border-radius:0;color:initial;width:100%;">
        <i class="icon {settings.ff.icon}" style="color:#008278;margin-left: -25px;font-size: 40px;"></i>

        <div class="dwi_petition-counter" id="dwi_petition-counter_{cObjectData.uid}" data-count="{counter}" style="text-align: center;font-size: 200%;"></div>
        <p style="font-size: 20px;">{settings.ff.unit}</p>
        <p style="font-size: 14px;color:gray;">{settings.ff.subtitle}
            <f:if condition="{settings.ff.type} == 1">
                {value}
            </f:if>
        </p>
    </div>
</f:section>
</html>