<div class="row">
    <div class="col-md-12">
        <div class="clearfix">
            <p>Die mit * gekennzeichneten Felder sind Pflichtfelder. <br> Die obigen Angaben benötigen wir lediglich für statistische Auswertungs- und Dokumentationszwecke. Diese erfolgen ausschließlich anonymisiert. <br> (Beispiele: Von x Weingütern in der Pfalz unterstützen y die Aufnahme. Von x Winzergenossenschaften bundesweit unterstützen y die Aufnahme. 95% aller Geschäftsführer unterstützen die Aufnahme.)
            <p>Besten Dank für Ihre Teilnahme!</p>
        </div>
    </div>
</div>