<div class="row">
    <div class="col-md-12">
        <div class="clearfix">
            <p>Die obigen Angaben benötigen wir lediglich für statistische Auswertungs- und Dokumentationszwecke. Diese erfolgen ausschließlich anonymisiert.</p>
            <p>Beispiele: <br> Von x Weingütern in der Pfalz unterstützen y die Aufnahme. <br> Von x Winzergenossenschaften bundesweit unterstützen y die Aufnahme. <br> 95% aller Geschäftsführer unterstützen die Aufnahme.</p>
            <p>Besten Dank für Ihre Teilnahme!</p>
        </div>
    </div>
</div>