<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Simple input with user answer.</f:comment>

<div class="form-group col-md-{question.columnsize}">
    <label for="user-answer-{question.uid}">
        {question.text}
        <f:comment><f:translate key="fe.user_answer_label"/></f:comment>
        <f:if condition="{question.required}">
            <span class="required"></span>
        </f:if>
    </label>

    <f:if condition="{question.appendWithInput} == 2">
        <f:then>
            <f:if condition="{question.required}">
                <f:then>
                    <f:form.textarea
                            name="answers[{question.uid}][answer]"
                            class="form-control {question.classname}"
                            id="user-answer-{question.uid}"
                            placeholder="{question.text}"
                            additionalAttributes="{required: 'required'}"
                    />
                </f:then>
                <f:else>
                    <f:form.textarea
                            name="answers[{question.uid}][answer]"
                            class="form-control {question.classname}"
                            id="user-answer-{question.uid}"
                            placeholder="{question.text}"
                    />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{question.required}">
                <f:then>
                    <f:form.textfield
                            name="answers[{question.uid}][answer]"
                            class="form-control {question.classname}"
                            id="user-answer-{question.uid}"
                            placeholder="{question.text}"
                            additionalAttributes="{required: 'required'}"
                    />
                </f:then>
                <f:else>
                    <f:form.textfield
                            name="answers[{question.uid}][answer]"
                            class="form-control {question.classname}"
                            id="user-answer-{question.uid}"
                            placeholder="{question.text}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</div>

</html>