<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Type radio - single answer.</f:comment>

<div class="form-group col-md-{question.columnsize}">
    <f:for each="{question.answers}" as="answer">
        <f:form.checkbox class="{question.classname}" name="answers[{question.uid}][answer]" multiple="1" value="__object--{answer.uid}" id="__checkbox--{answer.uid}"/>
        <label for="__checkbox--{answer.uid}">
            {answer.text}
            <f:if condition="{question.required}">
                <span class="required"></span>
            </f:if>
        </label>
    </f:for>
</div>

</html>